{{ form_start(formCar) }}
{{ form_rest(formCar) }}
<button class="btn btn-success mb-1" type="submit">Valider</button>
{{ form_end(formCar) }}

{% block javascripts %}
	<script src="{{asset('assets/js/carForm.js')}}"></script>
{% endblock %}
