{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Ajouter une annonce
{% endblock %}

{% block body %}

	<div class="container w-50">
		<h1>Créer une nouvelle annonce</h1>
		{% include "admin/car/_form.html.twig" %}
	</div>
{% endblock %}
