{% extends 'base.html.twig' %}

{% block title %}Administration - Modification marque
{% endblock %}

{% block content  %}
	<div class="container w-50 mt-2">
		<h1>Modifier une marque</h1>
		{% include "admin/car/brand/_form.html.twig" %}
	</div>

{% endblock %}
