{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Accueil
{% endblock %}

{% block content %}

	{# START: section hero #}
	<section class="hero hero__bg">
		<div class="container hero__description">
			<h1 class="hero__title">Garage V.Parrot</h1>
			<h2 class="hero__sutitle"></h2>
			<p class="hero__text">
				L'automobile au service du client depuis plus de 15 ans.
			</p>
			<div class="hero__action">
				<a href="#prestations" class="button button-red ">En savoir plus</a>
			</div>
		</div>
	</section>
	{# END: section hero #}

	{# START: section arrivages #}
	<section class="annonces" id="{{path('car_index')}}">
		<div class="container">
			<div class="text-center">
				<h2 class="mb-4">Nouveaux véhicules en stock</h2>
				<p class="mb-5 text-center">
					Une large gamme de véhicules.
				</p>
				<hr class="w-25 mx-auto mb-5 mb-xl-9 border-dark-subtle">

				<div class="row annonces__cards mb-4">
					{% include "car/_carCard.html.twig" %}
				</div>

				<p class="mt-4">
					<a href="{{path('car_index')}}" class="button button-red w-25 ">Voir toutes nos annonces</a>
				</p>
			</div>
		</div>
	</section>
	{# END: section arrivages #}


	{# START: section prestations #}

	<section class="prestations" id="prestations">
		<div class="container">
			<div class="row justify-content-md-center">
				<h2 class="mb-4 mt-4 prestations__title ">Nos prestations</h2>
				<p class="mb-5 text-center">
					Toutes nos prestations pour satisfaire nos clients.
				</p>
				<hr class="w-25 mx-auto mb-5 mb-xl-9 border-dark-subtle">
				<div class="row mt-4">
					{% for service in services %}
						{% include "service/index.html.twig" %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	{# END: section prestations #}

	{# START: section contact #}

	<div class="container">
		{% include "partials/_contactForm.html.twig" %}
	</div>
	{# END: section contact #}
{% endblock %}
