{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Accueil
{% endblock %}

{% block content %}

	{# START: section hero #}
	<section class="hero hero__bg">
		<div class="container hero__description">
			<h1 class="hero__title">Garage V.Parrot</h1>
			<h2 class="hero__sutitle"></h2>
			<p class="hero__text">
				L'automobile au service du client depuis plus de 15 ans.
			</p>
			<div class="hero__action">
				<a href="#prestations" class="button button-orange">En savoir plus</a>
			</div>
		</div>
	</section>
	{# END: section hero #}

	{# START: section arrivages #}
	<section class="annonces" id="{{path('car_index')}}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 annonces__titles">
					<h2 class="annonces__title">Nouveaux véhicules en stock</h2>
					<a href="{{path('car_index')}}">
						Voir toutes nos annonce
						<span>
							<i class="fa fa-angle-right"></i>
						</span>
					</a>
				</div>
			</div>
			<div class="row annonces__cards">
				{% for car in cars|slice(0,3)%}
					{% include "car/_carCard.html.twig" %}
				{% endfor %}

			</div>
		</div>
	</section>
	{# END: section arrivages #}


	{# START: section prestations #}

	<section class="prestations" id="prestations">
		<div class="container">
			<div class="row">
				<h2 class="prestations__title">Nos prestations</h2>
				{% for prestation in prestations %}
					{% include "prestation/index.html.twig" %}
				{% endfor %}
			</div>
		</div>
	</section>


	{# END: section prestations #}
{# START: section contact #}
	{# {% include "partials/_contactForm.html.twig" %} #}
	{# END: section contact #}
{% endblock %}
