{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Accueil
{% endblock %}

{% block content %}

	{# START: section hero #}
	<section class="hero hero__bg">
		<div class="container hero__description">
			<h1 class="hero__title">Garage V.Parrot</h1>
			<h2 class="hero__sutitle"></h2>
			<p class="hero__text">
				L'automobile au service du client depuis plus de 15 ans.
			</p>
			<div class="hero__action">
				<a href="#prestations" class="ad-btn w-50 " id="ads">En savoir plus</a>
			</div>
		</div>
	</section>
	{# END: section hero #}

	{# START: section arrivages #}
	<section class="annonces" id="{{path('car_index')}}">
		<div class="container">
			<h2 class="annonces__title">Nouveaux véhicules en stock</h2>
			<div class="annonces__cards">
				<div class="row" id="ads">
					{% for car in cars %}
						{% include "car/_carCard.html.twig" %}
					{% endfor %}
				</div>
				<div class="mt-2">
					<a href="{{path('car_index')}}" class="ad-btn w-50 " id="ads">Voir toutes nos annonces</a>
				</div>
			</div>
		</div>
	</section>
	{# END: section arrivages #}


	{# START: section prestations #}

	<section class="prestations" id="prestations">
		<div class="container">
			<div class="row prestations__cards">
				<h2 class="prestations__title mt-2 mb-2 py-2 text-center">Nos prestations</h2>
				{% for prestation in prestations %}
					{% include "prestation/index.html.twig" %}
				{% endfor %}
			</div>
		</div>
	</section>{# END: section prestations #}{# START: section contact #}
	{# {% include "partials/_contactForm.html.twig" %} #}
	{# END: section contact #}
{% endblock %}
