<div class="row ">
	<ul class="nav nav-tabs justify-content-around">

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des utilisateur</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="{{path('admin_user_index')}}">Afficher la liste des utilisateurs</a>
				<a class="dropdown-item" href="{{path('admin_user_create')}}">Ajouter un nouvel</a>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des annonces</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{{path('admin_car_index')}}">Afficher la liste des annonces</a>
				<a class="dropdown-item" href="{{path('admin_car_create')}}">Créer une nouvelle annonce</a>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des prestations</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Afficher la liste des prestations</a>
				<a class="dropdown-item" href="#">Ajouter une nouvelle prestation</a>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des horaires d'ouverture</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Afficher la liste des horaires</a>
			</div>
		</li>

	</ul>

</div>
