<section class="arrivals" id="arrivals">
	<div class="container">

		<h2 class="arrivals__title mt-2">Derniers arrivages</h2>

		<div class="row justify-content-evenly arrivals__cards">
			<div class="card col-md-4 col-sm-8">
				<img src="{{ asset('assets/images/home-bg.jpg') }}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		bulk of the card's content.
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
			<div class="card col-md-4 col-sm-8">
				<img src="{{ asset('assets/images/home-bg.jpg') }}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		bulk of the card's content.
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
			<div class="card col-md-4 col-sm-8">
				<img src="{{ asset('assets/images/home-bg.jpg') }}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		bulk of the card's content.
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
		<p
			class="col text-center mt-2 arrivals__action">{# <a href="{{path('car_')}}" class="btn btn-lg btn-secondary">Plus de véhicules</a> #}
		</p>
	</div>
</section>
