<header class="header">
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<a class="navbar-brand" href="{{path('app_home')}}">
				<img src="{{ asset ('assets/images/logo-header.png')}}" class="nav__logo" alt="Logo Garage V.Parrot">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-stream"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav m-auto">
					<li class="nav-item">
						<a class="nav-link" href="#services">Nos prestations</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#arrivals" #>Nos véhicules d'occasion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">à propos</a>
					</li>


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Administration
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Gestion compte utilisateurs</a>
							<a class="dropdown-item" href="#">Gestion des prestations</a>
							<a class="dropdown-item" href="#">Gestion des horaires d'ouvertures</a>
							<a class="dropdown-item" href="#">Gestion des annonces</a>
							<a class="dropdown-item" href="#">Gestion des avis</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Se déconnecter</a>
						</div>
					</li>

				</ul>
				<span
					class="nav-item">{# <a class="nav-link nav-link--pro" href="{{path('brand_index')}}">Espace professionel</a> #}
				</span>
			</div>
		</div>
	</nav>
</header>
