{% extends 'base.html.twig' %}

{% block title %}Administration - Ajouter un modèle
{% endblock %}

{% block content %}
	<div class="container w-50 mt-2">
		<h1>Ajouter un modèle</h1>
		{% include "model/_form.html.twig" %}
	</div>

{% endblock %}
