{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Modification d'un modèle
{% endblock %}

{% block content %}

	<div class="container mt-4 w-50">
		<h1>Modifier un model</h1>
		{% include "admin/car/model/_form.html.twig" %}

		<a href="{{path('admin_model_index')}}" class="button button-orange btn btn-sm mt-2">Revenir à la liste</a>

	</div>
{% endblock %}
