{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Administration
{% endblock %}

{% block content %}

	<section class="annonces">
		<div class="container">

			<h1 class="annonces__title text-start">Espace d'administration</h1>
			<small>Faire dérouler les menus pour acceder au contenus</small>
			{% include "partials/_adminnav.html.twig" %}
		</div>
	</section>
{% endblock %}
