/* Variable define */
:root {
  --color-red: #d60c0f;
  --color-light-black: #212529;
  --color-black: #121212;
  --color-white: #ffff;
  --font-primary: "Rajdhani", sans-serif;
  --font-secondary: "Barlow", sans-serif;
}

/* 
  RESET 
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  font-family: var(--font-secondary);
  background-color: var(--color-light-black);
  color: var(--color-white);
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-red);
}

p,
a,
ul,
li {
  color: var(--color-white);
  font-family: var(--font-secondary);
}

/* button */

.button {
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  color: var(--color-white);
}

.button-orange {
  background: linear-gradient(
    90deg,
    var(--color-light-black),
    var(--color-red) 50% 100%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s;
}

.button-orange:hover {
  background-position: left;
}
.button-red {
  background: linear-gradient(
    90deg,
    var(--color-light-black),
    var(--color-red) 50% 100%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s;
}

.button-red:hover {
  background-position: left;
  color: var(--color-white);
}

/*
  HEADER  
  */

/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  height: 4rem;
  background: linear-gradient(var(--color-light-black), #38383d);
}

.navbar__logo {
  width: 9rem;
  margin-top: 1rem;
  padding: 0.5%;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-white);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-red);
  cursor: default;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#icons {
  cursor: pointer;
  display: none;
  color: var(--color-red);
  font-size: 2rem;
}

@media (max-width: 768px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons::before {
    content: "\2715";
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 7%;
    flex-direction: column;
    background: linear-gradient(var(--color-light-black), #38383d);
    width: 100%;
    text-align: center;
    transition: 0.25s;
    padding: 2%;
  }
  nav li {
    padding: 0.18rem 0;
  }
  nav li:hover {
    background-color: var(--color-light-black);
  }

  nav.active ul {
    left: 0;
  }
}

/*
  MAIN
  */

/* section hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  padding: 1%;
}

.hero__bg {
  background-image: url(/assets/images/bg-parrot.jpg) !important;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: fill !important;
  background-color: rgba(24, 23, 23, 0.5) !important;
  height: 100vh;
  min-height: 100vh !important;
}

.hero__description {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.hero__title {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero__text {
  font-size: 2.2rem;
}

.hero__action {
  width: 100%;
}

/* section prestations  */
.prestations,
.annonces {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.prestations__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.prestation {
  min-height: 35rem;
}

.prestation__image {
  width: 100%;
}
.prestation__title {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.prestation__description {
  color: var(--color-white);
}

/* section annonces */

.annonces {
  text-align: justify;
}

.annonces__titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.annonces__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 30px;
}

.annonces__card img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  border-style: none;
  padding: 0;
  min-height: 13rem;
  width: 100%;
}

.annonces__card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-light-black);
  background: linear-gradient(var(--color-light-black), #38383d);
  border-radius: 20px 20px;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1%;
}

.card__description {
  padding: 2%;
}

.card__price {
  font-weight: 700;
}

/* 
  FOOTER
   */

.footer {
  margin-top: 10%;
  padding: 2%;
  background: linear-gradient(var(--color-light-black), #38383d);
}
