{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Ajouter une annonce
{% endblock %}

{% block content %}

	<div class="container">
		<h1>Créer une nouvelle annonce</h1>
		{% include "car/_form.html.twig" %}

		<a href="{{path('car_index')}}" class="btn btn-primary">Revenir à la liste</a>

	</div>
{% endblock %}
