{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Nos véhicules d'occasions
{% endblock %}

{% block content %}
	<!--Section: Annonces -->
	<section class="container annonces">
		<div class="row">
			<h2 class="annonces__title">Nos véhicules d'occasion</h2>
			{% include "car/_carCard.html.twig" %}
		</div>
	</section>
	<!-- End Section: Annonces -->
{% endblock %}
