{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Nos véhicules d'occasions
{% endblock %}

{% block content %}

	<!--Section: Annonces -->
	<section class="annonces" id="{{path('car_index')}}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 annonces__titles">
					<h1 class="annonces__title">Nos véhicules d'occasions</h1>
				</div>
			</div>
			<div class="row filters">
				<h5>Filtrer les annonces :</h5>
				{% include "car/_carFilters.html.twig" %}
			</div>
			<div class="row annonces__cards">
				{% for car in cars %}
					{% include "car/_carCard.html.twig" %}
				{% endfor %}

			</div>
		</div>
	</section>
	<!-- End Section: Annonces -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}
