{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Nos véhicules d'occasions
{% endblock %}

{% block content %}

	<!--Section: Annonces -->
	<section class="annonces bg-dark text-white">
		<div class="container">
			<div class="row">
				<h1 class="annonces__title text-center">Nos véhicules d'occasion</h1>
				<div class="container">
					<div class="car_filters">

						<h4>Filtrer les annonces</h4>
						{% include "car/_carFilters.html.twig" %}
						<div class="row justify-content-center" id="ads">
							{% for car in cars %}
								{% include "car/_carCard.html.twig" %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section: Annonces -->
	{% endblock %}
