{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Ajouter une prestation
{% endblock %}

{% block content %}

	<div class="container w-50">
		<h1>Créer les horaires</h1>
		{% include "admin/openingHours/_form.html.twig" %}
	</div>
{% endblock %}
